<div class="label-list">
    @foreach (var label in Labels)
    {
        <LabelBadge Label="@label"/>
    }
</div>

@code {
    [Parameter] public required IEnumerable<LabelView> Labels { get; set; }
}
