@using Glide.Web

<span class="label-badge" data-label-id="@Label.Id">
    @if (!string.IsNullOrWhiteSpace(Label.Icon))
    {
        <span class="label-icon">@Label.Icon</span>
    }
    <span class="label-name">@Label.Name</span>
</span>

@code {
    [Parameter]
    public required LabelView Label { get; set; }
}
