@using Glide.Web

@foreach (var label in Labels)
{
    <button type="button"
            class="filter-label-option"
            onclick="filterByLabel('@label.Id')">
        <span class="label-badge">
            @label.Name
        </span>
    </button>
}

@code {
    [Parameter]
    public required IEnumerable<LabelView> Labels { get; set; }
}
